<div>
	<h1>Home Page Of VSForums</h1>
		<h3>A Page For Personal Blogs</h3>
</div><br><br>

<% @posts.each do |post| %>
	<h4><%= post.title %></h4>
	<div><%= truncate(post.description, :length => 150) %></div>
<br>
	<%= link_to "Read", post_path(post), class: "btn btn-default" %>
	
<% end %>